<div class="card">
  <div class="card-header">
    <span>{{ title() }}</span>
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <button
          ngbTooltip="View code"
          class="btn btn-sm btn-{{ theme() }}"
          (click)="toggleSourceCode()"
        >
          <svg viewBox="0 0 24 24" width="24" height="24">
            <path
              fill="currentColor"
              d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z"
            />
          </svg>
        </button>
      </li>
    </ul>
  </div>

  @if (showSourceCode()) {
    <div class="card-body example-source">
      <ul class="nav nav-underline example-source-tabs">
        @for (item of sourceTypes; track $index) {
          <li class="nav-item">
            <button
              class="nav-link"
              [class.active]="selectedSourceType() === item.value"
              (click)="changeSourceCodeType(item.value)"
            >
              {{ item.label }}
            </button>
          </li>
        }
      </ul>
      @if (isSourceCodeLoading()) {
        <div>loading...</div>
      } @else {
        <pre><code [highlight]="sourceCode()" [language]="selectedSourceType()"></code></pre>
      }
    </div>
  }

  <div class="card-body">
    <ng-template appExampleHost />
  </div>
</div>
